/* Estilos gerais */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    min-width: 300px;
    margin-bottom: 20px;
    position: relative;

    /* Espaço entre o formulário e a mensagem "Não tem conta?" */
}

.create-account {
    text-align: center;
}

.error-message {
    color: #e53935;
    font-size: 14px;
    position: absolute;
    bottom: 10px;
    left: 20px;
    display: none;
}

h2 {
    text-align: center;
    color: #333;
}

/* Rótulos e Entradas de Texto */
label {
    display: block;
    margin-bottom: 8px;
    color: #333;
}

input,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Botão de Envio */

#Login {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

#Login:hover {
    background-color: #45a049;
}

/* Mensagens de Erro */
.alert {
    background-color: #f44336;
    color: white;
    padding: 10px;
    margin-bottom: 10px;
    text-align: center;
    border-radius: 4px;
}

/* Responsividade */
@media only screen and (max-width: 600px) {
    form {
        width: 300px;
    }
}

@media only screen and (max-width: 400px) {

    input,
    select {
        margin-bottom: 10px;
    }
}